COMPOSE_PROFILES=moss-sfx

MOSS_SFX_MODEL_ID=OpenMOSS-Team/MOSS-SoundEffect-v2.0
MOSS_SFX_GPU_ID=3
MOSS_SFX_MAX_SECONDS=30
MOSS_SFX_TORCH_DTYPE=float32
TORCHDYNAMO_DISABLE=1
TORCHINDUCTOR_DISABLE_CUDAGRAPHS=1
